In [3]:
import os, uuid, sys
from azure.storage.filedatalake import DataLakeServiceClient
from azure.storage.filedatalake import FileSystemClient
from azure.core._match_conditions import MatchConditions
from azure.storage.filedatalake._models import ContentSettings
import pandas as pd

In [4]:
# Connection String to Datalake 
connectionstring="DefaultEndpointsProtocol=https;AccountName=datalaketest123;AccountKey=mG5IGAwpT+tjzf7XQ7TDKqsrpN2ESnMG/CDjPUjSIcUn46mKKlF67b1mRBXDq/J59NuNRImYw/qgCUuTFFX2dg==;EndpointSuffix=core.windows.net"

In [5]:
# The datalake service client is the class that interacts on account level with the datalake: Goal list the different filesystems/blobs
service_client = DataLakeServiceClient.from_connection_string(connectionstring)
file_systems = service_client.list_file_systems()

file_systems_list =[]
for file_system in file_systems:
    file_systems_list.append(file_system.name)
print(file_systems_list)

In [7]:
# The FileSystemClient class interacts with a specific filesystem in the datalake: Goal get the pathnames of our desired filesystem
for file_system in file_systems_list:
    paths = FileSystemClient.from_connection_string(connectionstring, file_system_name=file_system).get_paths()
    for path in paths:
        print(path.name + '\n')

d365datalakeexport

d365datalakeexport/ChangeFeed

d365datalakeexport/Tables

d365datalakeexport/Tables/Common

d365datalakeexport/Tables/Common/Customer

d365datalakeexport/Tables/Common/Customer/Main

d365datalakeexport/Tables/Common/Customer/Main/CustTable

d365datalakeexport/Tables/Common/Customer/Main/CustTable/CUSTTABLE_00001.csv

d365datalakeexport/Tables/Common/Customer/Main/CustTable/index.json

d365datalakeexport/Tables/Common/Customer/Main/CustTable.cdm.json

d365datalakeexport/Tables/SupplyChain

d365datalakeexport/Tables/SupplyChain/ProductInformationManagement

d365datalakeexport/Tables/SupplyChain/ProductInformationManagement/Main

d365datalakeexport/Tables/SupplyChain/ProductInformationManagement/Main/EcoResProduct

d365datalakeexport/Tables/SupplyChain/ProductInformationManagement/Main/EcoResProduct/ECORESPRODUCT_00001.csv

d365datalakeexport/Tables/SupplyChain/ProductInformationManagement/Main/EcoResProduct/index.json

d365datalakeexport/Tables/SupplyChain/ProductInformationManagement/Main/EcoResProduct.cdm.json

d365datalakeexport/Tables/SupplyChain/SalesAndMarketing

d365datalakeexport/Tables/SupplyChain/SalesAndMarketing/WorkSheetHeader

d365datalakeexport/Tables/SupplyChain/SalesAndMarketing/WorkSheetHeader/SalesTable

In [89]:
# Create a dataframe with the desired files. The csv files contain the data, the cdm.json files the metadata
import re
pattern = re.compile('\w.*\.cdm.json|\w.*\.csv')
results = [(path.name, 
path.name.split('/')[-1],
path.name.split('/')[-1].split('.')[0].split('_')[0].lower(),
path.name.split('/')[-1].split('.')[-1]) for path in FileSystemClient.from_connection_string(connectionstring, file_system_name=file_system).get_paths() \
    if pattern.match(path.name)]
# pattern = re.compile('\w.*\.cdm.json|\w.*\.csv')
# new_results = list(filter(pattern.match,results))
pd.DataFrame(results, columns=['Path','Filename', 'Table', 'Type'])

,Path,Filename,Table,Type
0,d365datalakeexport/Tables/Common/Customer/Main...,CUSTTABLE_00001.csv,custtable,csv
1,d365datalakeexport/Tables/Common/Customer/Main...,CustTable.cdm.json,custtable,json
2,d365datalakeexport/Tables/SupplyChain/ProductI...,ECORESPRODUCT_00001.csv,ecoresproduct,csv
3,d365datalakeexport/Tables/SupplyChain/ProductI...,EcoResProduct.cdm.json,ecoresproduct,json

In [253]:
# Read file into a dataframe
from io import StringIO
adl = FileSystemClient.from_connection_string(connectionstring, file_system_name=file_system)
input_file = adl.get_file_client("d365datalakeexport/Tables/Common/Customer/Main/CustTable/CUSTTABLE_00001.csv")

customers = pd.read_csv(StringIO(re.sub('"""', '"', str(input_file.download_file().readall(),'utf-8'))),sep=';', dayfirst=True, infer_datetime_format=True, header=None)

In [255]:
# Read metadata json file for columnames
import json
adl = FileSystemClient.from_connection_string(connectionstring, file_system_name=file_system)
metadata_file =adl.get_file_client("d365datalakeexport/Tables/Common/Customer/Main/CustTable.cdm.json")
json_test = json.loads(metadata_file.download_file().readall())

columns_names = [item['name'] for item in json_test['definitions'][0]['hasAttributes']]
customers.columns = columns_names
customers
#pd.json_normalize(json_test, record_path=['definitions','hasAttributes'])

,_SysRowId,LSN,LastProcessedChange_DateTime,DataLakeModified_DateTime,RECID,PAYMTERMID,LINEDISC,ACCOUNTNUM,ACCOUNTSTATEMENT,BANKACCOUNT,...,USEPURCHREQUEST,VATNUM,VENDACCOUNT,WEBSALESORDERDISPLAY,FOREIGNERID_BR,BLOCKFLOORLIMITUSEINCHANNEL,CREATEDDATETIME,MODIFIEDDATETIME,DATAAREAID,ROWVERSION
0,1,1,5.11.2021 13:34,44505.56389,22565431405,Net10,NaN,4003,0,NaN,...,0,NaN,NaN,0,NaN,0,2017-01-28 15:10:08.000,2017-01-28 17:22:30.000,usrt,0x0000000001D3F466
1,2,2,5.11.2021 13:35,44506.56389,22565431406,Net10,NaN,4005,0,NaN,...,0,NaN,NaN,0,NaN,0,2017-01-28 15:18:49.000,2017-01-28 15:21:17.000,usrt,0x0000000001D3F467
2,3,3,5.11.2021 13:36,44507.56389,22565431407,Net10,NaN,4007,0,NaN,...,0,NaN,NaN,0,NaN,0,2017-01-28 15:22:02.000,2017-01-28 15:23:33.000,usrt,0x0000000001D3F468
3,4,4,5.11.2021 13:37,44508.56389,22565431408,Net10,NaN,4009,0,NaN,...,0,NaN,NaN,0,NaN,0,2017-01-28 15:29:51.000,2017-01-28 15:31:26.000,usrt,0x0000000001D3F469
4,5,5,5.11.2021 13:38,44509.56389,22565431409,Net10,NaN,4011,0,NaN,...,0,NaN,NaN,0,NaN,0,2017-01-28 15:32:09.000,2017-04-08 13:49:14.000,usrt,0x0000000001D3F46A
5,6,6,5.11.2021 13:39,44510.56389,22565431410,Net10,NaN,4013,0,NaN,...,0,NaN,NaN,0,NaN,0,2017-01-28 15:34:23.000,2017-01-28 15:36:12.000,usrt,0x0000000001D3F46B
6,7,7,5.11.2021 13:40,44511.56389,22565431411,Net10,NaN,4015,0,NaN,...,0,NaN,NaN,0,NaN,0,2017-01-28 15:56:51.000,2017-01-28 16:50:58.000,usrt,0x0000000001D3F46C
7,8,8,5.11.2021 13:41,44512.56389,22565431412,Net10,NaN,4017,0,NaN,...,0,NaN,NaN,0,NaN,0,2017-01-28 17:17:10.000,2017-01-28 17:21:36.000,usrt,0x0000000001D3F46D
8,9,9,5.11.2021 13:42,44513.56389,22565428385,Net 10,NaN,100001,0,NaN,...,0,NaN,NaN,0,NaN,0,2017-02-14 23:06:26.000,2018-02-21 18:26:05.000,frrt,0x0000000001D3F46E
9,10,10,5.11.2021 13:43,44514.56389,22565422808,Net10,NaN,100001,0,NaN,...,0,NaN,NaN,0,NaN,0,2016-10-06 20:03:04.000,2018-02-21 18:20:35.000,usrt,0x0000000001D3F46F
10,11,11,5.11.2021 13:44,44515.56389,22565423058,Net30,NaN,100002,0,NaN,...,0,NaN,NaN,0,NaN,0,2016-10-12 21:14:50.000,2019-10-08 22:58:13.000,usrt,0x0000000001D3F470
11,12,12,5.11.2021 13:45,44516.56389,22565429888,Net30,NaN,100003,0,NaN,...,0,NaN,NaN,0,NaN,0,2017-12-03 14:07:17.000,2018-02-21 18:14:55.000,usrt,0x0000000001D3F471
12,13,13,5.11.2021 13:46,44517.56389,22565428386,Net 30,NaN,1001,0,NaN,...,0,NaN,NaN,0,NaN,0,2017-02-15 00:07:59.000,2018-02-21 18:25:49.000,frrt,0x0000000001D3F472
13,14,14,5.11.2021 13:47,44518.56389,22565422559,Net30,NaN,1001,0,NaN,...,0,NaN,NaN,0,NaN,0,2013-01-19 16:29:49.000,2018-02-21 18:12:05.000,usrt,0x0000000001D3F473
14,15,15,5.11.2021 13:48,44519.56389,22565428387,Net 30,NaN,1002,0,NaN,...,0,NaN,NaN,0,NaN,0,2017-02-15 00:13:57.000,2018-02-21 18:26:18.000,frrt,0x0000000001D3F474
15,16,16,5.11.2021 13:49,44520.56389,22565422560,Net30,NaN,1002,0,NaN,...,0,NaN,NaN,0,NaN,0,2013-01-19 16:46:34.000,2017-06-06 18:38:17.000,usrt,0x0000000001D3F475
16,17,17,5.11.2021 13:50,44521.56389,22565428388,Net 30,NaN,1003,0,NaN,...,0,NaN,NaN,0,NaN,0,2017-02-15 00:17:16.000,2018-02-21 18:26:28.000,frrt,0x0000000001D3F476
17,18,18,5.11.2021 13:51,44522.56389,22565422561,Net30,NaN,1003,0,NaN,...,0,NaN,NaN,0,NaN,0,2013-01-19 16:50:34.000,2018-02-21 18:21:51.000,usrt,0x0000000001D3F477
18,19,19,5.11.2021 13:52,44523.56389,22565428389,Net 30,NaN,1004,0,NaN,...,0,NaN,NaN,0,NaN,0,2017-02-15 00:18:22.000,2018-02-21 18:26:38.000,frrt,0x0000000001D3F478
19,20,20,5.11.2021 13:53,44524.56389,22565422562,Net30,NaN,1004,0,NaN,...,0,NaN,NaN,0,NaN,0,2013-01-19 16:53:03.000,2018-02-21 18:22:01.000,usrt,0x0000000001D3F479
20,21,21,5.11.2021 13:54,44525.56389,22565428390,Net 10,NaN,2001,0,NaN,...,0,NaN,NaN,0,NaN,0,2017-02-15 00:24:45.000,2018-02-21 18:26:50.000,frrt,0x0000000001D3F47A
21,22,22,5.11.2021 13:55,44526.56389,22565422565,Net10,NaN,2001,0,NaN,...,0,NaN,NaN,0,NaN,0,2016-10-05 21:34:45.000,2018-02-21 18:16:33.000,usrt,0x0000000001D3F47B
22,23,23,5.11.2021 13:56,44527.56389,22565428391,Net 10,NaN,2002,0,NaN,...,0,NaN,NaN,0,NaN,0,2017-02-15 00:27:20.000,2018-02-21 18:27:00.000,frrt,0x0000000001D3F47C
23,24,24,5.11.2021 13:57,44528.56389,22565422566,Net10,NaN,2002,0,NaN,...,0,NaN,NaN,0,NaN,0,2016-10-05 21:41:22.000,2018-02-21 18:16:46.000,usrt,0x0000000001D3F47D
24,25,25,5.11.2021 13:58,44529.56389,22565428392,Net 10,NaN,2003,0,NaN,...,0,NaN,NaN,0,NaN,0,2017-02-15 00:29:50.000,2018-02-21 18:27:10.000,frrt,0x0000000001D3F47E
25,26,26,5.11.2021 13:59,44530.56389,22565422567,Net10,NaN,2003,0,NaN,...,0,NaN,NaN,0,NaN,0,2016-10-05 21:45:12.000,2018-02-21 18:17:05.000,usrt,0x0000000001D3F47F
26,27,27,5.11.2021 13:00,44531.56389,22565428393,Net 10,NaN,2004,0,NaN,...,0,NaN,NaN,0,NaN,0,2017-02-15 00:31:46.000,2018-02-21 18:27:25.000,frrt,0x0000000001D3F480
27,28,28,5.11.2021 13:00,44532.56389,22565422568,Net10,NaN,2004,0,NaN,...,0,NaN,NaN,0,NaN,0,2016-10-05 21:48:15.000,2018-02-21 18:18:52.000,usrt,0x0000000001D3F481
28,29,29,5.11.2021 13:00,44533.56389,22565422569,Net10,NaN,2005,0,NaN,...,0,NaN,NaN,0,NaN,0,2016-10-05 21:55:43.000,2018-02-21 18:19:07.000,usrt,0x0000000001D3F482
29,30,30,5.11.2021 13:00,44534.56389,22565422563,Net10,NaN,3001,0,NaN,...,0,35-12345,NaN,0,NaN,0,2013-01-19 16:58:06.000,2019-10-07 15:34:08.000,usrt,0x0000000001D3F483
30,31,31,5.11.2021 13:00,44535.56389,22565422564,Net10,NaN,3002,0,NaN,...,0,NaN,NaN,0,NaN,0,2013-01-19 17:02:03.000,2018-02-21 18:16:07.000,usrt,0x0000000001D3F484
31,32,32,5.11.2021 13:00,44536.56389,22565422570,Net10,NaN,3003,0,NaN,...,0,NaN,NaN,0,NaN,0,2016-10-05 22:02:32.000,2018-02-21 18:19:18.000,usrt,0x0000000001D3F485
32,33,33,5.11.2021 13:00,44537.56389,22565422571,Net10,NaN,3004,0,NaN,...,0,35-12345,NaN,0,NaN,0,2016-10-05 22:07:30.000,2018-02-21 18:19:30.000,usrt,0x0000000001D3F486
33,34,34,5.11.2021 13:00,44538.56389,22565422572,Net10,NaN,3005,0,NaN,...,0,NaN,NaN,0,NaN,0,2016-10-05 22:10:36.000,2018-02-21 18:19:42.000,usrt,0x0000000001D3F487
34,35,35,5.11.2021 13:00,44539.56389,22565422573,Net10,NaN,3006,0,NaN,...,0,35-12345,NaN,0,NaN,0,2016-10-05 22:13:37.000,2018-02-21 18:19:55.000,usrt,0x0000000001D3F488
35,36,36,5.11.2021 13:00,44540.56389,22565422574,Net10,NaN,3007,0,NaN,...,0,35-12345,NaN,0,NaN,0,2016-10-05 22:15:48.000,2018-02-21 18:20:08.000,usrt,0x0000000001D3F489
36,37,37,5.11.2021 13:00,44541.56389,22565422575,Net10,NaN,3008,0,NaN,...,0,NaN,NaN,0,NaN,0,2016-10-05 22:17:47.000,2018-02-21 18:13:36.000,usrt,0x0000000001D3F48A
37,38,38,5.11.2021 13:00,44542.56389,22565424065,N030,NaN,INMF-000001,0,NaN,...,0,NaN,NaN,0,NaN,0,2016-11-08 18:14:18.000,2017-06-06 18:38:17.000,inmf,0x0000000001D3F48B
38,39,39,5.11.2021 13:00,44543.56389,22565424066,N010,NaN,INMF-000002,0,NaN,...,0,NaN,NaN,0,NaN,0,2016-11-08 18:16:46.000,2017-06-06 18:38:17.000,inmf,0x0000000001D3F48C
39,40,40,5.11.2021 13:00,44544.56389,22565424067,N010,NaN,INMF-000003,0,NaN,...,0,NaN,NaN,0,NaN,0,2016-11-08 18:17:32.000,2017-06-06 18:38:17.000,inmf,0x0000000001D3F48D
40,41,41,5.11.2021 13:00,44545.56389,22565424068,N001,NaN,INMF-000004,0,NaN,...,0,NaN,NaN,0,NaN,0,2016-11-08 18:18:44.000,2017-06-06 18:38:17.000,inmf,0x0000000001D3F48E
41,42,42,5.11.2021 13:00,44546.56389,22565424069,N030,NaN,INMF-000005,0,NaN,...,0,NaN,NaN,0,NaN,0,2016-11-08 18:19:38.000,2017-06-06 18:38:17.000,inmf,0x0000000001D3F48F
42,43,43,5.11.2021 13:00,44547.56389,22565426134,N010,NaN,INMF-000006,0,NaN,...,0,NaN,NaN,0,NaN,0,2016-12-12 10:57:57.000,2017-06-06 18:38:17.000,inmf,0x0000000001D3F490
43,44,44,5.11.2021 13:00,44548.56389,22565429890,N010,NaN,INMF-000007,0,NaN,...,0,NaN,NaN,0,NaN,0,2018-02-20 05:46:12.000,2018-02-20 05:46:12.000,inmf,0x0000000001D3F491
44,45,45,5.11.2021 13:00,44549.56389,22565429889,NaN,NaN,RURT-000001,0,NaN,...,0,NaN,NaN,0,NaN,0,2017-12-17 12:50:44.000,2017-12-23 14:26:50.000,rurt,0x0000000001D3F492
45,46,46,5.11.2021 13:00,44550.56389,22565430640,NaN,NaN,RURT-000002,0,NaN,...,0,NaN,NaN,0,NaN,0,2018-02-21 12:54:48.000,2018-02-21 12:54:48.000,rurt,0x0000000001D3F493
46,47,47,5.11.2021 13:00,44551.56389,22565430641,NaN,NaN,RURT-000003,0,NaN,...,0,NaN,NaN,0,NaN,0,2018-02-21 12:59:01.000,2018-02-21 12:59:01.000,rurt,0x0000000001D3F494
47,48,48,5.11.2021 13:00,44552.56389,22565430642,NaN,NaN,RURT-000004,0,NaN,...,0,NaN,NaN,0,NaN,0,2018-02-21 13:00:34.000,2018-02-21 13:00:34.000,rurt,0x0000000001D3F495